 @font-face {
    font-family: hnc; /* Имя шрифта */
    src: url(../fonts/HelveticaNeueCyr-Light.otf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: hnm; /* Имя шрифта */
    src: url(../fonts/HelveticaNeueCyr-Medium.otf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: hnr; /* Имя шрифта */
    src: url(../fonts/HelveticaNeueCyr-Roman.otf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Myriadpr; /* Имя шрифта */
    src: url(../fonts/Myriadpr.otf); /* Путь к файлу со шрифтом */
   }
body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.flex{
    max-width: 1170px;
        display: flex;
    justify-content: space-between;
    align-items: center;
}


header {
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.top_menu {
    background-color: rgba(40, 40, 40, 0.40);
    height: 90px;
 }

div.menues {
    padding: 0;
    margin: 0;
    height: 20px;
}

div.menues a {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #f4f8fc;
    font-weight: 300;
    margin: auto 15px;
}

div.menues a:hover {
    color: #0cc962;
    text-decoration: underline;
}
.lang a{
    color: #f4f8fc;
    text-decoration: none;
    text-transform: uppercase;
     font-family: hnc;
    font-size: 16px;
    padding:  5px;
  font-weight: 300;
     border-left: 1px solid #f4f8fc;
}
 .lang a:first-child {
    border-left: none; /* Убираем первую линию слева */
   }
.lang a.active_lang{
    color: #0cc962;
}

.banner {
    text-align: center;
     display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}
.banner h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 100px;
}
.consult{
    display: block;
    width: 125px;
    color: white;
    background-color: #0cc962;
    font-family: hnc;
    text-decoration: none;
    font-size: 16px;
    padding: 12px 25px;
    margin-left: auto;
    margin-right: auto;
}
.jobs{
   
}
.jobs h1{
    text-align: center;
    font-family: hnm;
    color: #333333;
    font-size: 26px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
.jobs h1 span{
    color: #0cc962;
}
.offer{
    text-align: center;
    margin-bottom: 40px;
   }
.offer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.offer h2{
   font-family: hnm;
    color: #333333;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 4px;
    border-bottom: 4px solid #0cc962;
   display: inline-block;
    clear:both;
}
.offer p{
    padding: 0;
    font-family: Open Sans;
    font-size: 15px;
    color: #555555;
    font-weight: 300;
    margin-bottom: 0;
}
.design{
   background-color: #e8e8e8;
    width: 100%;
    height: 470px;
}
.des_left{
    float: left;
    width: 50%;
    background-image: url(../img/unact.png);
     height: 470px;

}
.des_right{
    float: right;
    width: 50%;
      height: 470px;
background-color: #fff;
    outline: 10px solid #e8e8e8; 
   outline-offset: -10px; 
}
.des_right h2{
    font-family: hnc;
    font-size:  36px;
    border-bottom: 2px solid #0cc962;
    display: inline-block;
    clear:both;
    padding-bottom: 7px;
}
.des_right h3{
    font-family: Myriadpr;
    font-size: 16px;
    color: #444444;
     font-weight: 400;
}
.des_right p{
    font-family: Open Sans;
    font-size: 16px;
    color: #777777;
    font-weight: 400;
}
.des_wrap{
    margin-left: 60px;
}
.development{
   background-color: #e8e8e8;
    width: 100%;
    height: 470px;
}
.dev_right{
    float: right;
    width: 50%;
    background-image: url(../img/unact2.png);
     height: 470px;
    background-size: cover;

}
.dev_left{
    float: left;
    width: 50%;
      height: 470px;
background-color: #fff;
    outline: 10px solid #e8e8e8; 
   outline-offset: -10px; 
}
.dev_left h2{
    font-family: hnc;
    font-size:  36px;
    border-bottom: 2px solid #0cc962;
    display: inline-block;
    clear:both;
    padding-bottom: 7px;
}
.dev_left h3{
    font-family: Myriadpr;
    font-size: 16px;
    color: #444444;
     font-weight: 400;
}
.dev_left p{
    font-family: Open Sans;
    font-size: 16px;
    color: #777777;
    font-weight: 400;
}
.dev_wrap{
    margin-left: 60px;
}
.btn_more{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-family: Open Sans;
    font-weight: 400;
    background-color: #0cc962;
    padding: 8px 40px;
    margin-top: 20px;
}
section.order_call{
    width: 100%;
    height: 130px;
    background-color: #fff;
}
div.order_call{
    margin-top: 50px;
    width: 100%;
    background-color: #333333;
    height: 120px;
}
div.order_call h1{
    font-family: hnr;
    color: white;
    font-size: 28px;
    font-weight: 300;
}
div.order_call span{
    color: #0cc962;
}
a.btn_order_call{
    background-color:  #0cc962;
    color: white;
    font-family: Open Sans;
    font-size: 16px;
    text-decoration: none;
    padding:  6px 35px;
    border-radius: 4px;
    font-weight: 400;
}
.latest{
    text-align: center;
}
.latest h1{
     font-family: hnr;
    color: #333333;
    font-size: 36px;
    font-weight: 300;
}
.work{
    background-color: #e8e8e8;
    width: 350px;
    height: 350px;
    margin: 20px auto;
}
.subscribe{
    text-align: center;
    margin-bottom: 50px;
}
.subscribe h1{
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    font-family: hnr;
    font-size: 24px;
    font-weight: 300;
}
.subscribe p{
    font-family: Open Sans;
    color: #777777;
    font-size: 15px;
    display: inline-block;
    text-align: left;
}
.col-l{
    float: left;
    width:50%;
    text-align: right;
    height:340px;
}
.col-r{
    float: right;
    width:50%;
    text-align: left;
    height:340px;
}
.text{
    color: #777777;
    font-family: 13px;
    width: 400px;
    padding: 14px 25px;
    margin: 12px 10px;;
}
.big-text{
    color: #777777;
    font-family: 13px;
    width: 400px;
    padding: 14px 25px;
    margin: 12px 10px;
    height: 150px;
    resize: none;
}
.btn_send{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    padding: 15px 80px;
    background-color: #0cc962;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
}
.foot{
     height: 90px;
}
footer{
    background-color: #f4f8fc;
    width: 100%;
   
    
}
p.copyright{
    font-family: Open Sans;
    font-size: 14px;
    color: #acacac;
    font-weight: 400;
}
.foot-menu a{
    text-transform: uppercase;
    font-family: hnc;
    font-weight: 300;
    font-size: 14px;
    color: #434446;
    text-decoration: none;
    margin: auto 15px;
    cursor: pointer;
}
input::-webkit-input-placeholder:after{
   content: '*';
   color: red;
};